
.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffddee;
}

.container{
  box-shadow:  0px 1px 4px rgba(111,111,111,0.7);
  background-color: #eee;
  border-radius: 1rem;
  min-height: 30rem;
  padding: 1rem;
  width: 30rem;
}
.container input{
      padding: 1rem;
    border-radius: .5rem;
    border: none;
    width: 75%;
    margin-right: .5rem;
}
.container button{
  background-color: #ffddee;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    
}
.list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.listItem{
  display: flex;
  background-color: #fff;
  box-shadow:  1px 1px 0px rgba(111,111,111,0.2);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
.list li{
  display: flex;
  width: 100%;
  font-weight: 600;
}
.listItem button{
  background-color: transparent;
  border: none;
}
.done{
  text-decoration: line-through;
  color: red;
}